$blocker-background: rgba(0,0,0,.2) !default;

.ml-blocker {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blocker-background;
    z-index: 20;

	// &-opened {
	// 	.ml-layer.ml-last {
	// 		@extend %blocker-last-panel;
	// 	}
	// }
}

html.ml-blocker-opened .ml-header-site {
	z-index: 3;
}