.ml {
	&-layer {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: auto;
		transition: all .5s ease;
	}

	&-last {
		z-index: 2;
	}

	&-active {
		background: red;
		z-index: 3;
	}
}