$split-width: 80%;

.ml-layer.ml-split {
	// enters from left
	top: 0;
	width: $split-width;
	z-index: 6;

	&.ml-active {
		-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
	}

	&-left {
		left: ($split-width * (-1));
		transition: left $animation-time ease;

		&.ml-active {
			left: 0;
		}
	}
}

// show last item
html.ml-split {
	.ml-header-site {
		left: $split-width;
	}
	.ml-layer.ml-last {
		top: 0 !important;
		left: $split-width !important;
	}
}
